<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>kTrend</key>
	<dict>
        <key>1</key>
        <dict>
            <key>kTrendId</key>
            <string>1</string>
            <key>kTrendName</key>
            <string>爱情运</string>
            <key>kGoodTrendIcon</key>
            <string>astro_trend_good_trend_1</string>
            <key>kGoodTrendCornerIcon</key>
            <string>astro_trend_good_trend_corner_icon_1</string>
            <key>kBadTrendIcon</key>
            <string>astro_trend_bad_trend_1</string>
            <key>kBadTrendCornerIcon</key>
            <string>astro_trend_bad_trend_corner_icon_1</string>
        </dict>
        <key>2</key>
        <dict>
            <key>kTrendId</key>
            <string>2</string>
            <key>kTrendName</key>
            <string>事业运</string>
            <key>kGoodTrendIcon</key>
            <string>astro_trend_good_trend_2</string>
            <key>kGoodTrendCornerIcon</key>
            <string>astro_trend_good_trend_corner_icon_2</string>
            <key>kBadTrendIcon</key>
            <string>astro_trend_bad_trend_2</string>
            <key>kBadTrendCornerIcon</key>
            <string>astro_trend_bad_trend_corner_icon_2</string>
        </dict>
        <key>3</key>
        <dict>
            <key>kTrendId</key>
            <string>3</string>
            <key>kTrendName</key>
            <string>财运</string>
            <key>kGoodTrendIcon</key>
            <string>astro_trend_good_trend_3</string>
            <key>kGoodTrendCornerIcon</key>
            <string>astro_trend_good_trend_corner_icon_3</string>
            <key>kBadTrendIcon</key>
            <string>astro_trend_bad_trend_3</string>
            <key>kBadTrendCornerIcon</key>
            <string>astro_trend_bad_trend_corner_icon_3</string>
        </dict>
    </dict>
	<key>kAstro</key>
	<dict>
        <key>0</key>
		<dict>
			<key>kAstroId</key>
			<string>0</string>
			<key>kAstroName</key>
			<string>白羊座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_0</string>
		</dict>
        <key>1</key>
        <dict>
			<key>kAstroId</key>
			<string>1</string>
			<key>kAstroName</key>
			<string>金牛座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_1</string>
		</dict>
        <key>2</key>
        <dict>
			<key>kAstroId</key>
			<string>2</string>
			<key>kAstroName</key>
			<string>双子座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_2</string>
		</dict>
        <key>3</key>
        <dict>
			<key>kAstroId</key>
			<string>3</string>
			<key>kAstroName</key>
			<string>巨蟹座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_3</string>
		</dict>
        <key>4</key>
        <dict>
			<key>kAstroId</key>
			<string>4</string>
			<key>kAstroName</key>
			<string>狮子座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_4</string>
		</dict>
        <key>5</key>
        <dict>
			<key>kAstroId</key>
			<string>5</string>
			<key>kAstroName</key>
			<string>处女座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_5</string>
		</dict>
        <key>6</key>
        <dict>
			<key>kAstroId</key>
			<string>6</string>
			<key>kAstroName</key>
			<string>天秤座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_6</string>
		</dict>
        <key>7</key>
        <dict>
			<key>kAstroId</key>
			<string>7</string>
			<key>kAstroName</key>
			<string>天蝎座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_7</string>
		</dict>
        <key>8</key>
        <dict>
			<key>kAstroId</key>
			<string>8</string>
			<key>kAstroName</key>
			<string>射手座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_8</string>
		</dict>
        <key>9</key>
        <dict>
			<key>kAstroId</key>
			<string>9</string>
			<key>kAstroName</key>
			<string>摩羯座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_9</string>
		</dict>
        <key>10</key>
        <dict>
			<key>kAstroId</key>
			<string>10</string>
			<key>kAstroName</key>
			<string>水瓶座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_10</string>
		</dict>
        <key>11</key>
        <dict>
			<key>kAstroId</key>
			<string>11</string>
			<key>kAstroName</key>
			<string>双鱼座</string>
			<key>kAstroIcon</key>
			<string>astro_trend_astro_11</string>
		</dict>
    </dict>
</dict>
</plist>
