<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBackendHosts</key>
	<array>
		<string>http://42.120.48.230</string>
		<string>http://api.lesongapp.cn</string>
	</array>
</dict>
</plist>
