<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGiftCategories</key>
	<array>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>69</string>
			<key>kCategoryName</key>
			<string>热销</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_69</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_69</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>61</string>
			<key>kCategoryName</key>
			<string>食品</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_61</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_61</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>62</string>
			<key>kCategoryName</key>
			<string>家居</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_62</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_62</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>65</string>
			<key>kCategoryName</key>
			<string>休闲</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_65</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_65</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>67</string>
			<key>kCategoryName</key>
			<string>儿童</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_67</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_67</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>66</string>
			<key>kCategoryName</key>
			<string>时尚</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_66</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_66</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>64</string>
			<key>kCategoryName</key>
			<string>极客</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_64</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_64</string>
		</dict>
        <dict>
			<key>kCategoryIdentifier</key>
			<string>70</string>
			<key>kCategoryName</key>
			<string>可爱</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_70</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_70</string>
		</dict>
		<dict>
			<key>kCategoryIdentifier</key>
			<string>63</string>
			<key>kCategoryName</key>
			<string>浪漫</string>
			<key>kCategoryDescription</key>
			<string></string>
			<key>kCategoryCover</key>
			<string>gift_selection_category_63</string>
			<key>kCategoryCoverSelected</key>
			<string>gift_selection_category_selected_63</string>
		</dict>
	</array>
</dict>
</plist>
