<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kOcassionCategories</key>
	<array>
		<dict>
			<key>kOcassionId</key>
			<string>48</string>
			<key>kOcassionName</key>
			<string>清明节</string>
			<key>kOcassionLongName</key>
			<string>清明节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>49</string>
			<key>kOcassionName</key>
			<string>母亲节</string>
			<key>kOcassionLongName</key>
			<string>母亲节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>50</string>
			<key>kOcassionName</key>
			<string>春节</string>
			<key>kOcassionLongName</key>
			<string>春节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>51</string>
			<key>kOcassionName</key>
			<string>教师节</string>
			<key>kOcassionLongName</key>
			<string>教师节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>52</string>
			<key>kOcassionName</key>
			<string>感恩节</string>
			<key>kOcassionLongName</key>
			<string>感恩节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>53</string>
			<key>kOcassionName</key>
			<string>愚人节</string>
			<key>kOcassionLongName</key>
			<string>愚人节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>54</string>
			<key>kOcassionName</key>
			<string>情人节</string>
			<key>kOcassionLongName</key>
			<string>情人节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>55</string>
			<key>kOcassionName</key>
			<string>复活节</string>
			<key>kOcassionLongName</key>
			<string>复活节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>56</string>
			<key>kOcassionName</key>
			<string>圣诞节</string>
			<key>kOcassionLongName</key>
			<string>圣诞节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>57</string>
			<key>kOcassionName</key>
			<string>国庆节</string>
			<key>kOcassionLongName</key>
			<string>国庆节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>58</string>
			<key>kOcassionName</key>
			<string>元旦</string>
			<key>kOcassionLongName</key>
			<string>元旦</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>59</string>
			<key>kOcassionName</key>
			<string>元宵节</string>
			<key>kOcassionLongName</key>
			<string>元宵节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>60</string>
			<key>kOcassionName</key>
			<string>儿童节</string>
			<key>kOcassionLongName</key>
			<string>儿童节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>61</string>
			<key>kOcassionName</key>
			<string>中秋节</string>
			<key>kOcassionLongName</key>
			<string>中秋节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>62</string>
			<key>kOcassionName</key>
			<string>万圣节</string>
			<key>kOcassionLongName</key>
			<string>万圣节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>63</string>
			<key>kOcassionName</key>
			<string>七夕</string>
			<key>kOcassionLongName</key>
			<string>七夕情人节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>64</string>
			<key>kOcassionName</key>
			<string>父亲节</string>
			<key>kOcassionLongName</key>
			<string>父亲节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>65</string>
			<key>kOcassionName</key>
			<string>妇女节</string>
			<key>kOcassionLongName</key>
			<string>妇女节</string>
			<key>kOcassionIcon</key>
			<string>occasion_holiday_icon_general</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_holiday_header_icon_general</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_holiday_header_background_general</string>
		</dict>
        <dict>
            <key>kOcassionId</key>
            <string>66</string>
            <key>kOcassionName</key>
            <string>端午节</string>
            <key>kOcassionLongName</key>
            <string>端午节</string>
            <key>kOcassionIcon</key>
            <string>occasion_holiday_icon_general</string>
            <key>kOcassionHeaderIcon</key>
            <string>occasion_holiday_header_icon_general</string>
            <key>kOcassionHeaderBackground</key>
            <string>occasion_holiday_header_background_general</string>
        </dict>
		<dict>
			<key>kOcassionId</key>
			<string>celebration</string>
			<key>kOcassionName</key>
			<string>好友动态</string>
			<key>kOcassionLongName</key>
			<string>好友动态</string>
			<key>kOcassionIcon</key>
			<string>occasion_category_icon_celebration</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_category_header_icon_celebration</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_category_header_background_celebration</string>
		</dict>
		<dict>
			<key>kOcassionId</key>
			<string>birthday</string>
			<key>kOcassionName</key>
			<string>生日</string>
			<key>kOcassionLongName</key>
			<string>好友生日</string>
			<key>kOcassionIcon</key>
			<string>occasion_category_icon_birthday</string>
			<key>kOcassionHeaderIcon</key>
			<string>occasion_category_header_icon_birthday</string>
			<key>kOcassionHeaderBackground</key>
			<string>occasion_category_header_background_birthday</string>
		</dict>
	</array>
</dict>
</plist>
