<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kOcassionTags</key>
	<array>
		<dict>
			<key>kOcassionTagId</key>
			<string>129</string>
			<key>kOcassionTagName</key>
			<string>庆祝</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_celebrate</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_celebrate</string>
			<key>New item</key>
			<string></string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>131</string>
			<key>kOcassionTagName</key>
			<string>安慰</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_pat</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_pat</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>90</string>
			<key>kOcassionTagName</key>
			<string>鼓励</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_encourage</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_encourage</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>87</string>
			<key>kOcassionTagName</key>
			<string>生日</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_birthday</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_birthday</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>86</string>
			<key>kOcassionTagName</key>
			<string>结婚</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_marriage</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_marriage</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>92</string>
			<key>kOcassionTagName</key>
			<string>换工作</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_work</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_work</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>84</string>
			<key>kOcassionTagName</key>
			<string>搬家</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_house</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_house</string>
		</dict>
		<dict>
			<key>kOcassionTagId</key>
			<string>85</string>
			<key>kOcassionTagName</key>
			<string>生小孩</string>
			<key>kOcassionTagIcon</key>
			<string>occasion_tag_icon_delivery</string>
			<key>kOcassionTagCornerIcon</key>
			<string>occasion_tag_corner_icon_delivery</string>
		</dict>
	</array>
</dict>
</plist>
